{% extends 'dashboard.html.twig' %}

{% block title %}Statistics
{% endblock %}

{% block subtitle %}
	Users
{% endblock %}

{% block body %}
	<div class="row px-4 py-4 dashboard-div" id="adminUsers">
		{% for message in app.flashes('success') %}
			<div class="alert alert-info w-100 mt-3 text-center">
				{{ message }}
			</div>
		{% endfor %}
		<h5 class="mb-4">Verified users</h5>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Username</th>
					<th class="responsive-table-custom">Email</th>
					<th class="responsive-table-custom">Created at</th>
					<th>Role</th>
					<th><i class="fas fa-list"></i></th>
					<th><i class="fas fa-comment-dots"></i></th>
				</tr>
			</thead>
			<tbody>
				{% for user in verifiedUsers %}
					<tr>
						<td scope="row"><a class="custom-link" href="{{ path('user.profile', {username: user.username}) }}">{{ user.username }}</a></td>
						<td class="responsive-table-custom">{{ user.email }}</td>
						<td class="responsive-table-custom">{{ user.createdAt|format_date }}</td>
						<td>
							{% for role in user.roles %}
								{% if role == "ROLE_USER" %}
									User
								{% elseif role == "ROLE_MODERATOR" %}
									Moderator
								{% else %}
									Admin
								{% endif %}
							{% endfor %}
							<a class="ml-2" href="{{ path('user.edit', {username: user.username}) }}">
								<i class="fas fa-pencil-alt"></i>
							</a>
						</td>
						<td>{{ user.tricks|length }}</td>
						<td>{{ user.comments|length }}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>

		<h5 class="mt-5 mb-4">Unverified users</h5>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Username</th>
					<th class="responsive-table-custom">Email</th>
					<th class="responsive-table-custom">Created at</th>
					<th>Role</th>
					<th><i class="fas fa-list"></i></th>
					<th><i class="fas fa-comment-dots"></i></th>
				</tr>
			</thead>
			<tbody>
				{% for user in unverifiedUsers %}
					<tr>
						<td scope="row"><a class="custom-link" href="{{ path('user.profile', {username: user.username}) }}">{{ user.username }}</a></td>
						<td class="responsive-table-custom">{{ user.email }}</td>
						<td class="responsive-table-custom">{{ user.createdAt|format_date }}</td>
						<td>
							{% for role in user.roles %}
								{% if role == "ROLE_USER" %}
									User
								{% elseif role == "ROLE_MODERATOR" %}
									Moderator
								{% else %}
									Admin
								{% endif %}
							{% endfor %}
							<a class="ml-2" href="{{ path('user.edit', {username: user.username}) }}">
								<i class="fas fa-pencil-alt"></i>
							</a>
						</td>
						<td>{{ user.tricks|length }}</td>
						<td>{{ user.comments|length }}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>

{% endblock %}
