<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>

		{% block stylesheets %}

			<!-- Bootstrap CSS -->
			<link
			rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

			<!-- Custom CSS -->
			<link
			rel="stylesheet" href="{{ asset('css/style.css') }}">

			<!-- Fonts -->
			<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
			<link href="https://fonts.googleapis.com/css2?family=MuseoModerno:wght@531&display=swap" rel="stylesheet">
			<link
			href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

			<!-- Favicon -->
			<link rel="icon" type="image/svg" href="/media/images/snowboarding-solid.svg"/>

		{% endblock %}
	</head>

	<body data-spy="scroll" data-target="#mainNav">

		<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top" id="mainNav">
			<a class="navbar-brand" href="{{ path('trick.index') }}">
				<i class="fas fa-snowboarding"></i>
				SnowTricks</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNavBar" aria-controls="mainNavBar" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="mainNavBar">
				<div class="navbar-nav ml-auto">
					<a class="nav-item nav-link" href="{{ path('trick.index') }}">Home
						<span class="sr-only">(current)</span>
					</a>
					<a class="nav-item nav-link nav-separator" href="{{ path('trick.index') }}#trickList">Tricks</a>
					{% if not app.user %}
						<a class="nav-item nav-link nav-separator" href="{{ path('app_login') }}">Sign in</a>
						<a class="nav-item nav-link nav-separator" href="{{ path('app_register') }}">Sign up</a>
					{% else %}
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle nav-separator" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								{{ app.user.username}}
							</a>
							<div class="dropdown-menu" aria-labelledby="navbarDropdown">
								{% if not app.user.isVerified %}<div class="badge badge-light mx-1">Your account is not activated yet</div>{% endif %}
								<a class="dropdown-item {% if not app.user.isVerified %}disabled{% endif %}" href="{{ path('user.profile', {username: app.user.username }) }}">Profile</a>
								<a class="dropdown-item {% if not app.user.isVerified %}disabled{% endif %}" href="{{ path('user.tricks') }}">My tricks</a>
								<a class="dropdown-item {% if not app.user.isVerified %}disabled{% endif %}" href="{{ path('user.trick.new') }}">Add trick</a>
								<a class="dropdown-item {% if not app.user.isVerified %}disabled{% endif %}" href="{{ path('user.comments') }}">My comments</a>
								<div class="dropdown-divider"></div>
								<a class="dropdown-item {% if not app.user.isVerified %}disabled{% endif %}" href="{{ path('user.dashboard', {username: app.user.username}) }}">Dashboard</a>
							</div>
						</li>
						<a class="nav-item nav-link nav-separator" href="{{ path('app_logout') }}">Log out</a>
					{% endif %}

				</div>
			</div>
		</nav>

		{% block body %}{% endblock %}

		{% include "modal.html.twig" %}

		<footer class="row mx-0 py-3 text-left">
			<p class="mb-0 ml-4">Copyright
				<i class="far fa-copyright"></i>
				2020</p>
		</footer>

		{% block javascripts %}
			<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
			<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
			<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
			<script src="{{ asset('js/main.js') }}"></script>
		{% endblock %}
	</body>
</html>
